 /* 禁用移动端长按选择功能 */
 canvas,
 div,
 span,
 p,
 img{ /* 禁用移动端长按选择功能 */
	 -webkit-user-select:none;
	 -khtml-user-select:none;
	 -moz-user-select:none;
	 -ms-user-select:none;
	 user-select:none;
 }
 

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
}

.mask {
	width: 100%;
	height: 100%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}

.toast {
	font-size: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;
}