body {
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F3F6;
}
.checkerboard {
    width: 96vw;
    height: 96vw;
    margin: 2vh 0;
}
.confirm {
    width: 80vw;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.confirm .input {
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
}
.confirm .input input {
    text-align: center;
    font-size: 24px;
}
.confirm .btn {
    width: 80%;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C1A37B;
    color: #fff;
    border-radius: 5px;
}
.user {
    width: 100%;
}
.user .line {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.user .line .avatar-box {
    width: 60px;
    height: 60px;
    position: relative;
    border: 4px solid #fff;
    border-radius: 50%;
}
.user .line .avatar-box .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.user .line .avatar-box .ready {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #C1A37B;
    position: absolute;
    bottom: -15px;
    left: 0;
    display: none;
}

.user .line .username {
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user .line .admin-defeat,
.user .line .regret-chess,
.user .line .countDown {
    font-size: 20px;
    border-radius: 10px;
    width: 62px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.user .line .admin-defeat {
    background: #EC5228;
    border: 2px solid #EC5228;
}
.user .line .regret-chess {
    background: #C1A37B;
    border: 2px solid #C1A37B;
    margin: 0 20px;
}
.user .line .countDown {
    font-weight: bold;
    border: 2px solid #C1A37B;
    color: #C1A37B;
}
.user .line .active {
    animation: Ani 1s infinite;
}
.user .line .win-num {
    font-size: 20px;
    color: #C1A37B;
    margin: 0 15px;
    margin-bottom: 6px;
}
.user .line .win-num span {
    font-size: 32px;
    font-weight: bolder;
}
.piece {
    width: 20px;
    height: 20px;
    background: #F2F3F6;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    margin: 0 5px;
}

@keyframes Ani
{
    0% {border: 4px solid rgba(193,163,123, 1);top:-4px;left:-4px;}
    100% {border: 14px solid rgba(193,163,123, 0);top:-14px;left:-14px;}
}